body {
   background: #26408b url("../img/background_paint.jpg") no-repeat fixed center;
}

#logo{
  width: 10rem;
  padding: 2rem;
  height:auto;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.card-header {
  border: none;
  background-color: #2e933c;
}

.card-header i {
  padding-right: 1rem;
  font-size: 1rem;
}

.card .card-header .btn {
  color : white;
}

legend {
  text-align: center;
  color: #2E933C;
}

.list-group > li:nth-child(1){
  text-align: center;
  background : #2ECC71;
}
.list-group > li:nth-child(2){
  text-align: center;
  background : #2980B9;
}
.list-group > li:nth-child(3){
  text-align: center;
  background : #E67E22;
}
.list-group > li:nth-child(4){
  text-align: center;
  background : #95A5A6;
}

#flashIcon, #UKflagIcon, #bafaIcon {
  height: 1rem;
  width: auto;
  padding-right: 1rem;
}

#logo-cap {
  padding-right: 1rem;
}

#collapsePres {
  background-color: lightgrey;
}

#collapseCpt {
  max-width: 40rem;
}

#fa-plus-circle {
  font-size: 2rem;
  color: #2e933c;
}

#accordion {
  padding: 0rem;
}

.bodyExpP {
  background-color : #16A085;
  padding: 3rem;
  color: white;
}

fieldset {
  position: relative;
  padding: 1rem;
  border:0.2rem solid #2E933C;
  -moz-border-radius:0rem;
  -webkit-border-radius:0rem;
  border-radius:0rem;
}
