
/* Box-sizing reset methods */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
html {
  background-color: #26408b;
}
footer, #band{
  background-color: #26408b;
  color: #181f1c;
  padding: 1.5rem;
  text-align: center;
}

.card .card-header {
    border: none;
    background-color : #2e933c;
}

.card .card-header .btn {
  color : white;
}

.card #collapseCpt {
  max-width: 40rem;
  
}
